.registrations-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}

.registrations-container .default-content-wrapper h3 {
  font-size: var(--heading-font-size-m);
}

.registrations .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  padding: 8px;
  padding-left: 0;
}

.registrations fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  border: none;
  padding: 0;
}

@media (width >= 900px) {
  .registrations fieldset {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.registrations fieldset > legend {
  font-weight: 700;
  font-size: var(--heading-font-size-xs);
}

.registrations label {
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  margin-bottom: 0.25em;
}

.registrations input,
.registrations select,
.registrations textarea {
  font-size: var(--body-font-size-s);
  width: 100%;
  max-width: 45rem;
  display: inline-block;
  padding: 12px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.registrations textarea {
  resize: vertical;
}

.registrations .selection-wrapper input {
  width: 16px;
}

.registrations .selection-wrapper label {
  margin-bottom: 0;
}

.registrations input:hover {
  border: 1px solid var(--text-color);
}

.registrations .button {
  max-width: 225px;
  font-size: var(--body-font-size-m);
  padding: 0.2em 0.4em;
}

.registrations .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 16px;
}

.registrations .field-wrapper > label {
  order: -1;
}

.registrations .field-wrapper.selection-wrapper > label {
  order: 1;
}

.registrations input[required] + label::after {
  content: "*";
  color: firebrick;
  margin-inline-start: 1ch;
}

.registrations .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.registrations .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.registrations .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}

.registrations .toggle-wrapper .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.registrations .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.registrations .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.registrations .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}

.registrations .submit-wrapper button {
  font-size: 1.2rem;
  width: 10%;
  padding: 0.6%;
}
