footer {
  padding: 2rem;
  background-color: black;
  color: white;
  font-size: 12px;
}

footer .footer {
  max-width: 1200px;
  margin-left: 3%;
  margin-right: 3%;
}

footer .footer h1#wknd {
  width: fit-content;
  margin: 0;
  display: inline;
}

footer .footer p {
  width: fit-content;
}

footer .footer .default-content-wrapper ul {
  list-style: none;
  padding: 0;
  width: fit-content;
  display: inline;
  float: right;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

footer .footer .default-content-wrapper ul li {
  display: inline;
  margin-right: 10px;
  font-size: var(--body-font-size-xs);
}

footer .footer a {
  color: white;
}
